html {
    scroll-behavior: smooth;
    scrollbar-width: thin; 
    scrollbar-color: #FE7E00 transparent; 
  }
  
  html::-webkit-scrollbar {
    width: 8px;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #FE7E00;
    border-radius: 10px;
  }
body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FE7E00;
}
.invert {
    filter: invert(1);
}
.content_wrapper {
    display: flex;
}
footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FE7E00;
}

