html {
    scroll-behavior: smooth;
  }
body {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #FE7E00;
}
.invert {
    filter: invert(1);
}
.content_wrapper {
    display: flex;
}

