.basket_wrapper {
    width: 300px;
    flex: 1;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}
.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
}
.basket_header {
    padding: 16px 0;
}
.grauer_seperator {
    width: 100%;
    height: 2px;
    background-color: #E2E0DA;
}
.basket_if_empty {
    color: #989694;
    font-weight: bold;
}
.basket_items {
    max-height: 260px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px 0 16px;
    overflow-y: auto;
}
.basket_item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dispaly_flex {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    box-sizing: border-box;
    padding: 0 16px;
}
.minusPlusMüleimer_button {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}
.minusUndPlus {
    height: 32px;
    width: 32px;
    filter: invert(47%) sepia(98%) saturate(1615%) hue-rotate(1deg) brightness(103%) contrast(101%);
}
.preisAmountDishes {
    font-weight: bold;
    flex: 1;
    text-align: center;
}
.Mülleimer {
    height: 24px;
    width: 24px;
    filter: invert(47%) sepia(98%) saturate(1615%) hue-rotate(1deg) brightness(103%) contrast(101%);
}
.grauer_seperator_oben {
    
    width: 100%;
    height: 2px;
    background-color: #E2E0DA;
}
.grauer_seperator_small {
    width: 100%;
    height: 2px;
    background-color: #E2E0DA;
    margin-bottom: 8px;
}
.abholen_liefern {
    box-shadow: 0 -6px 12px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-bottom: 12px;
}
.d_flex {
    display: flex;
    justify-content: center;
    gap: 32px;
}
.ausgewählt {
    background-color: #FE7E00;
    border-radius: 32px;
}
.liefernLassen {
    height: 38px;
    width: 38px;
    padding: 8px;
}
.selbstAbholen {
    height: 38px;
    width: 38px;
    padding: 8px;
}
.bill {
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}
.FlexBetween {
    display: flex;
    justify-content: space-between;
}
.zwischensummeLieferkosten {
    color: #989694;
}
.gesamt {
    font-weight: bold;
}
.close {
    display: none;
}
.sticky_basket {
    display: none !important;
}
.button_div {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
}
.bestellen_button {
    width: 100%;
    height: 46px;
    background-color: #FE7E00;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}