@media (max-width: 750px) {
    .content_wrapper {
        display: flex;
        flex-direction: column;
    }
    .content {
        width: 100%;
        padding-bottom: 16px;
    }
    .basket_wrapper {
        position: fixed; 
        height: 100%;
        width: 100%;
        background: white;
        box-shadow: 0 -5px 10px rgba(0,0,0,0.2);
        transform: translateY(100%); 
        transition: transform 0.3s ease;
        z-index: 1000;
      }
      .basket_wrapper.basket_open {
        transform: translateY(0); 
      }
    .sticky_basket {
        display: block !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
    }
    .sticky_basket.hidden {
        transform: translateY(100%);
      }
    .sticky_basket_button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: 100%;
        height: 76px;
        color: white;
        background-color: #3A83F6;
        font-size: 30px;
        font-weight: bold;
        border: none;
    }
    .button_img {
      height: 38px;
      width: 38px;
    }
    .close {
        display: flex;
        position: absolute;
        top: 11px;
        right: 11px;
        height: 42px;
        width: 42px;
        filter: invert(47%) sepia(98%) saturate(1615%) hue-rotate(1deg) brightness(103%) contrast(101%);
    }
  }